ol,li
	{
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
.flow-steps {
	overflow: hidden;
	margin: 0px 0px;
}

.flow-steps .num3 li {
	width: 301px;
}

.flow-steps .num4 li {
	width: 255.9px;
}

.flow-steps .num5 li {
	width: 175px;
}

.flow-steps .num6 li {
	width: 167px;
}

.flow-steps li {
	float: left;
	background: #e4e4e4
		url(flow_steps_bg.png) no-repeat 100%
		0;
	font-size: 14px;
	font-weight: bold;
	height: 23px;
	line-height: 23px;
	text-align: center;
	color: #404040;
	padding: 0 15px 0 0;
	overflow: hidden;
}

.flow-steps li span,.flow-steps li strong {
	display: block;
}

.flow-steps li .first {
	background: #e4e4e4
		url(flow_steps_bg.png) no-repeat
		-12px -69px;
}

.flow-steps li.last {
	background-position: 100% -138px;
}

.flow-steps li.current {
	background-color: #f60;
	color: #fff;
}

.flow-steps li.current .first {
	background-color: #f60;
	background-position: -12px -92px;
}

.flow-steps li.current-prev {
	background-position: 100% -23px !important;
}

.flow-steps li.done {
	background-color: #ffe6ba;
	background-position: 100% -46px;
	color: #f60;
}

.flow-steps li.done .first {
	background-color: #ffe6ba;
	background-position: -12px -115px;
}

.flow-steps li.last-current {
	background-color: #f60;
	color: #fff;
	background-position: 100% -161px;
}



.flow-steps li.last-done {
	background-color: #ffe6ba;
	color: #f60;
	background-position: 100% -138px;
}

.flow-steps li.current1 {
	background-color: #f60;
	background-position: 100% -46px;
	color: #fff;
}
