label
{
	font-size: 0.7em;
	font-family:arial;
	float:left;
}
.input {
	border: 1px solid #99b3b4;
	width: 300px;
	background: #e4ebeb;
	font: 11px verdana, sans-serif;
	color:#443;
	padding:3px;
	margin-bottom:4px;
	outline:none;
}
.input:focus {
	border:1px solid #567475;
	background: #e4ebeb;
}
.submit-btn {
	width: 54px;
	height: 20px;
	background: #743 url(http://www.roscripts.com/images/submit.gif) no-repeat;
	outline: none;
	float:right;
}
.submit-btn:hover {
	background: #069 url(http://www.roscripts.com/images/submit.gif) no-repeat 0 -20px;
}
div#container {
	border:1px solid #99b3b4;
	padding:15px;
	margin:50px auto;
	width:300px;
}
.entry ul {
	list-style:none;
	margin:0px;
	padding:0px;
	display:block;
}
.entry li {
	display:block;
	margin:0px;
}
.entry li a {
	outline: none;
	background-color: #fbfbf9;
	text-decoration:none;
	display:block;
	padding:10px 0 10px 15px;
	border-bottom:1px solid #f2f2f2;
	font:bold 75% arial,helvetica,sans-serif;
	color:#999;
}
.entry li a:hover {
	background:url(../images/go_partner.gif) 645px 25px no-repeat #fff;
	border-bottom:1px solid #ccc;
	color:#336699;		
}
.entry ul a em {
	display:block;
	color:#808080;
	font-size:90%;
	padding-right:30px;
	font-style:normal;
	font-weight:normal;
}
.entry span {
	display:block;
	color:#a8a8a8;
	font-size:0.8em;
	font-style:normal;
	font-weight:normal;
	padding-right:10px;
}
.entry a:hover span {
	color:#800;
}

div#update {
      position:absolute;
      width:250px;
      background-color:white;
      color: black;
      border:1px solid #888;
      margin:0px;
      padding:0px;
}
div#update ul {
      list-style-type:none;
      margin:0px;
      padding:0px;
}
div#update ul li.selected { background-color: #ffb;}
div#update ul li {
      list-style-type:none;
      display:block;
      margin:0;
      padding:2px;
      height:22px;
      cursor:pointer;
}